
.details-container {
  height: auto;
}

.result-item:nth-child(even) {
  background-color: #2c3e50;
}

.result-item:nth-child(odd) {
  background-color: #34495e;
}

.result-item {
  padding-left: 1em;
  padding-right: 1em;

  img {
    float: left;
    max-width: 60%;
  }

  h3 {
    text-transform: uppercase;
    padding-top: 2em;
    padding-bottom: .5em;
  }

  .info {
    float: right;
    color: #1EAD9B;
    width: 40%;

    p {
      padding-bottom: .3em;
      width: 90%;
    }

    ul li {
      padding: .2em;
    }

  }

  .overview {
    padding-top: 1em;
    line-height: 1.4;
    clear: both;
    padding-bottom: 5em;
  }
}


@media (min-width: 1200px) {
  .details-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
