.switch {
  display: flex;
}

.switch li {
  text-transform: uppercase;
  padding: 1em;
  background: black;
  text-align: center;
  width: 50%;
  &:first-child {
    border-right: 1px solid $Primary;
  }
}

.switch li.active {
  color: $Secondary;
}

.filters {
  padding: 1em;
}

.content.discovery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.element {
  width: 135px;
  margin-bottom: 1em;
}

.element__poster {
  max-width: 100%;
}