
.footer {
  height: auto;
  background-color: #222222;
  clear: both;
  margin-top: 3em;

  ul {
    text-align: left;
    padding-top: 3em;

    li {
      margin: 1em;
    }
  }

  .tmdb_logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-bottom: 2em;
    width: 50%;
  }

}


@media (min-width: 1200px) {
  .footer {
    height: auto;
    text-align: center;
    margin-top: 3em;

    .tmdb_logo {
      width: 10%;
    }

  }

  ul {
    display: inline-block;

    li {
      display: inline;

    }
  }
}
