// Text Input Elements

.textInput {
  margin-bottom: 1em;
  position: relative;
}

.textInput label {
  display: block;
  height: 3em;
}

.textInput span {
  position: absolute;
  left: 0;
  top: 1.2em;
  color: $Secondary;
  transition: 0.2s;
}

.textInput input {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  background: none;
  border: none;
  border-bottom: 2px solid $Secondary;
  outline: none;
  color: white;
  font-size: 16px;
  transition: 0.2s;
  &:focus {
    border-bottom: 2px solid white;
    & + span {
      font-size: 0.9em;
      top: 0em;
    }
  }
}

.textInput label.noAnimate {
  span {
    font-size: 0.9em;
    top: 0em;
  }
  input {
    border-bottom: 2px solid white;
  }
}

// Textarea Elements
textarea {
  height: 20em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// Select Elements

.select {
  position: relative;
  height: 2em;
  margin-bottom: 1em;
}

.select label {
  border-bottom: 2px solid $Secondary;
  width: 100%;
  display: block;
  color: $Secondary;
  line-height: 2em;
  &:after {
    position: relative;
    top: 14px;
    content: "";
    display: block;
    float: right;
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid $Secondary;
  }
}

.select ul {
  overflow: hidden;
  opacity: 0;
  position: absolute;
  width: 0%;
  height: 0px;
  top: -2px;
  z-index: 1;
  background: $Secondary;
  box-shadow: 0 0 20px 0px $DarkPrimary;
  transition: opacity 0.2s, width 0.2s, height 0.2s;
}

.select li {
  padding: 0.5em 1em;
  &:hover {
    background-color: $Primary;
  }
}
