
.search-box {
  margin-top: 5em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: block;

  button {
    max-width: 4.5em;
    max-height: 4.5em;
    display: block;
  }
  button:hover{
    cursor: pointer;
  }
}

#mag {
  margin-top: -.2em;
  margin-left: -.9em;
  max-height: 3em;
  max-width : 3em;
  display: block;
}


@media (min-width: 1200px) {
  .search-box {
    height: 3em;
    width: 50%;
    margin-bottom: 5em;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 25%;
  }

  form {
    display: inline;

    button {
      display: inline;
      float: right;
      margin: 0;
    }
  }

  .searchbar {
    width: 50%;
    margin: auto;
  }

}
