@import url('https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One|Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	color: white;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 1em;
    font-weight: 500;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fjalla One', 'Arial', sans-serif;
}
  
h1 {
    font-size: 1.8em;
}
  
h2 {
    font-size: 1.6em;
}
  
h3 {
    font-size: 1.4em;
}
  
h4 {
    font-size: 1.1em;
}
  
a {
	color: white;
    text-decoration: none;
}