/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One|Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100vh;
  width: 100vw; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

i.material-icons {
  display: block;
  margin: -12px; }

body {
  color: white;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 500; }

h1, h2, h3, h4, h5 {
  font-family: 'Fjalla One', 'Arial', sans-serif; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.1em; }

a {
  color: white;
  text-decoration: none; }

body {
  background: linear-gradient(to bottom, #2C3E50 0%, #1D2933 100%); }

.mainHeader__navigation {
  display: flex;
  margin-left: 1em; }

.mainHeader__navigation__logo {
  width: 1rem;
  height: 1rem;
  display: block;
  margin-top: 0.5em; }

.mainHeader__navigation__links {
  flex: 1;
  text-align: right; }
  .mainHeader__navigation__links a {
    display: inline-block;
    padding: 1em;
    font-size: 0.9rem; }
  .mainHeader__navigation__links a.active {
    background: black; }

.submenu {
  background: black;
  padding: 0.5rem 1rem; }

.submenu ul {
  display: flex;
  justify-content: flex-end; }

.submenu li {
  display: inline-block;
  padding-left: 1rem;
  font-size: 0.8em; }

.searchbar {
  display: flex; }

.searchbar__input {
  flex: 1;
  padding: 0 1em;
  outline: none; }

.searchbar__input::placeholder {
  font-style: italic; }

.searchbar__button {
  padding: 1rem 1.5rem;
  background: #1EAD9B; }
  .searchbar__button .material-icons {
    font-size: 2em;
    color: white; }
