@import "./style/Reset.scss";
@import "./style/Colors.scss";
@import "./style/Typography.scss";
@import "./style/Global.scss";
@import "./style/Header.scss";
@import "./style/Buttons.scss";
@import "./style/FormElements.scss";
@import "./style/Results.scss";
@import "./style/In_theaters.scss";
@import "./style/Navigation.scss";
@import "./style/Footer.scss";
@import "./style/Searchbar.scss";
@import "./style/TV_shows.scss";
@import "./style/Landing.scss";
@import "./style/Chingu.scss";
@import "./style/Detail.scss";
